body.splash {background: #b21212;}
.center{text-align:center;}	
.door{display: inline-block;}

.logo img {width: 100%;max-width: 225px;}
.logo h1 {color: #fff;font-weight: bold;margin-top: 0;}

.red {color:#b21212;}
.yellow {color:#fbae17;}

h1.title {color: #b21212;font-weight: bold;}
a.btn {color: #fff;background: #b21212;text-transform: uppercase;width: 220px;}.door{display: inline-block;}
.header-logo{
    color:#b11111;
    text-align: center;
    font-weight: bold;}

.sub_title{text-align:center;
    /*color:#b11111;*/
}
.left {
    width:65%;
    float:left;
    text-align: left;
}
.right {
    width:35%;
    float:right;
    text-align: right;
}
h3 {margin-top: 0;margin-bottom: 0;}
a.btn, button.btn {color: #fff;background: #b21212;text-transform: uppercase;}
a.btn:hover, button.btn:hover {color: #000;}
.mt15 {margin-top: 15px;}

.access {margin-bottom: 15px;}
.access img {width: 225px;}

.doors {}
.doors .frame{}
.doors img{}

.doors_button_wrap {max-width: 200px;margin: 0 auto;}
.doors_button_wrap .doors_wrap {}
.doors_button_wrap .doors_wrap img {width: 100%;}
.doors_button_wrap .doors_wrap img.doors {margin-top: -300px;width: 90%;}
.doors_button_wrap .doors_wrap img.steps {margin-top: 100px;}

.buttons {}
.buttons a.btn, .buttons button.btn {float: none;display: block;margin: 0 auto;max-width: 200px;margin-top: 15px;}

form input, form select {background: #ccc !important;}
input[placeholder], [placeholder], *[placeholder], 
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder { color: #555 !important;}

footer.panel {position: fixed;bottom: 0;margin: 0;width: 100%;background: #ccc;}
footer.panel a {width: 25%;display: block;float: left;height: 60px;color: #000;text-align: center;font-size: 10px;}
footer .inner {position: relative;max-width: 300px;margin: 0 auto;}
.icon {height: 30px;width: 30px;margin: 0 auto;margin-top: 8px;background-size: contain;background-repeat: no-repeat;background-position: 50% 50%;margin-bottom: 5px;}
.icon.faq {background-image:url('../img/faq.png');}
.icon.scholarships {background-image:url('../img/scholarships.png');}
.icon.about {background-image:url('../img/about.png');}
.icon.programs {background-image:url('../img/programs.png');}

.container {padding-top: 15px;padding-bottom: 15px;}

form {padding: 15px;max-width: 400px;margin: 0 auto;}
#search tr {background-color:#b21212; color:white; font-weight: bold;}
.jumbotron {background-color: white;}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {background-color:#b21212;}
a {color:#b21212;}
